* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    font-family: "Roboto", sans-serif;
    position: relative;
    height: 100%;
    background-color: #112031;
    padding: 20px;
}

.container {
    width: 600px;
    margin: auto;
    padding: 30px 0;
    border-radius: 16px;
    background-color: #2d46b9;
}

.container .todo {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.container .add-task {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container .add-task input.addTask {
    width: 95%;
    padding: 15px 10px;
    border: none;
    background-color: #f6f6f6;
    color: black;
    outline: none;
    border-radius: 5px;
}

.container .add-task .addBtn {
    position: absolute;
    height: 48px;
    width: 48px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #112031;
    border-radius: 50%;
    line-height: 48px;
    text-align: center;
    right: 3%;
    transition: transform 0.4s;
}

.container .add-task .addBtn:hover {
    transform: rotate(180deg);
}

.container .list-tasks {
    max-height: 400px;
    min-height: 400px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.container .list-tasks .empty-tasks {
    text-align: center;
    display: block;
    font-size: 18px;
    color: #334756;
    font-weight: 700;
    padding: 25px;
    user-select: none;
}

.container .list-tasks .task {
    position: relative;
    width: 100%;
    padding: 15px;
    border-bottom: 2px solid #ccc;
    cursor: pointer;
    overflow: hidden;
}

.container .list-tasks .task.finished {
    text-decoration: line-through;
}

.container .list-tasks .task:hover {
    background-color: #f2f1f1;
    transition: 0.3s;
}

.container .list-tasks .task .actions {
    position: absolute;
    right: -15%;
    top: 0;
    width: 15%;
    height: 100%;
    background-color: red;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .list-tasks .task .actions i {
    width: 50%;
    height: 100%;
    text-align: center;
    line-height: 45px;
    transition: 0.3s;
}

.container .list-tasks .task .actions i:hover {
    font-size: 19px;
}

.container .list-tasks .task .actions .deleteBtn {
    background-color: #ff2442;
    color: #fff;
}

.container .list-tasks .task .actions .finishBtn {
    background-color: #1c7947;
    color: #fff;
}

.container .list-tasks .task .actions .not-finishBtn {
    background-color: #1c7947;
    color: #fff;
}

.container .list-tasks .task:hover .actions {
    right: 0;
}

.container .list-tasks .task p {
    max-width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.container .tasks-status {
    width: 100%;
    height: 50px;
}

.container .tasks-status>div {
    width: 50%;
    padding: 15px;
    font-size: 15px;
    user-select: none;
}

.container .tasks-status>div span {
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
}

.container .tasks-status .count {
    float: left;
}

.container .tasks-status .count span {
    background-color: #ff2442;
}

.container .tasks-status .completed {
    float: right;
    text-align: right;
}

.container .tasks-status .completed span {
    background-color: #3db2ff;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(214, 209, 209, 0.5);
    z-index: 2;
}